.App {
  text-align: center;

  background-color: lightblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*-----------------------------------------------actual elements---------------------------------------------------------------------------*/
.logo{
  position: absolute;
  left: 0%;
  top: 0%;
  width:10%;
}

.links{
  display:inline
}

.home_link{
  position: absolute;
  left: 10%;
  top: 10%;
}

.login_link{
  position: absolute;
  left:60%;
  top: 10%;
}

.build_your_own_dino_link{
  position: absolute;
  left:20%;
  top: 10%;
}

.daily_recommendation_link{
  position: absolute;
  left:35%;
  top: 10%;
}

.your_dino_egg_link{
  position: absolute;
  left: 50%;
  top: 10%;
}

.dev2{
  position: absolute;
  left:70%;
  top: 10%;
}

.dev3{
  position: absolute;
  left:90%;
  top: 10%;
}

/*.search_button{*/
/*  position: absolute;*/
/*  left:50%;*/
/*  top: 10%;*/
/*}*/

.nav {
  color: 'white';
  font-family: 'dinopia-r';
  margin: '0rem 3rem 0rem 3rem';
  font-size: '10rem';
}

.button-d {
    background-color: 'white';
    color: '#2C466C'; /* #navy */
    font-family: 'dinopia-r';
    border-color: '#B2D3C2';
    text-align: 'center';
}

.card-2 { margin: '0.8rem'; color: '2C466C'; font-family: 'dinopia-l'; font-size: '1.3rem'; background-color: '#B2D3C2' /* mint */} 