body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.choice-row{
    display:flex;
    flex-wrap: wrap;
}

.status {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}
.title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.square {
  background: #fff;
  border: 3px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: 30px;
  padding: 5;
  text-align: center;
  width: 34px;
}

.image {
    margin-right: 30px;
    margin-top: 30px;
}

.image:focus {
  outline: none;
}

.kbd-navigation .image:focus {
  background: #ddd;
}

.build {
  display: flex;
  flex-direction: row;
}

.build-info {
  margin-left: 20px;
}




.grid{
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-areas:
      'header header header header header header'
      'left left main main empty empty'
      'menu menu  main main empty empty'
      'menu menu footer footer center center'
      'other other footer footer another another';
  gap: -1px;
  background-color: #FFFFFF;
  padding: 200px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1px 0;
  font-size: 30px;
}
